#langchain
langchain
langchain-core

#google-langchain-intergration
langchain-google-genai
google-generativeai

#openai-langchain-integration
langchain-openai

#hugging face integration
transformers
langchain-huggingface
huggingface-hub

#Environment setup
python-dotenv

#data validation
pydantic

#machine learning libs
numpy
scikit-learn

#Creating user interfaces
streamlit

#vector store
chromadb

sentence-transformers

torch



