#langchain
langchain
langchain-core
langchain-community

#google-langchain-intergration
langchain-google-genai
google-generativeai

#openai-langchain-integration
langchain-openai

#hugging face integration
transformers
langchain-huggingface
huggingface-hub

#Environment setup
python-dotenv

#data validation
pydantic

#machine learning libs
numpy
scikit-learn

#Creating user interfaces
streamlit

#vector store
langchain-chroma

sentence-transformers

torch

#pdf loader
pypdf


#Text splitters
langchain-text-splitters
langchain-experimental